<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="OutputPath" value="D:\OutPutVideo\"/>
    <add key="OutputPathFile" value="D:\OutPutVideo\NewsStills.mp4"/>
    <add key="PlayOutRoot" value="\\172.12.12.57\playout$\playout\"/>
    <add key="AeProjectFile" value="D:\Projects\AEProjects\AkseKhabari\Aks\Aks.aep"/>
    <add key="Composition" value="Export"/>
    <add key="imagecount" value="10"/>
    <add key="footagedirectory" value="D:\Projects\AEProjects\AkseKhabari\Aks\(Footage)\Comp - Photo\"/>   
  </appSettings>
  <connectionStrings>
    <add name="NewsStillsRnd.Properties.Settings.NEWS_GENConnectionString"
        connectionString="Data Source=172.12.12.50;Initial Catalog=NEWS_GEN;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
    <add name="NewsStillsRnd.Properties.Settings.CONDUCTORConnectionString"
        connectionString="Data Source=172.12.12.50;Initial Catalog=CONDUCTOR;Persist Security Info=True;User ID=8668;Password=09112064568"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>