<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AeRenderExePath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="PlayOutRoot" value="\\172.12.12.57\playout$\playout\"/>

    <add key="SqlFilter" value="aksekhabari,akhabarmohem"/>
    <add key="OutputPathFile" value="D:\OutPutVideo\aksekhabari.avi,D:\OutPutVideo\akhabarmohem.avi"/>
    <add key="AeProjectFile" value="D:\Projects\AEProjects\AkseKhabari\Aks\Aks.aep,D:\Projects\AEProjects\Mohemtarin Akhbare Emruz_Final folder\s\Mohemtarin Akhbare Emruz_Final.aep"/>
    <add key="Composition" value="Export,FINAL"/>    
    <add key="ImageRoot" value="D:\Projects\AEProjects\AkseKhabari\Aks\(Footage)\Comp - Photo\,D:\Projects\AEProjects\Mohemtarin Akhbare Emruz_Final folder\(Footage)\Photo and Text\"/>
    <add key="ImageName" value="image ,part "/>
    <add key="ImageCount" value="10,3"/>
    <add key="Frame" value="1589,1200"/>
    <add key="GraphicActId" value="13,32"/>
    <add key="VideoDuration" value="00:01:03,00:00:48"/>   

  </appSettings>
  <connectionStrings>
    <add name="NewsStillsRnd.Properties.Settings.NEWS_GENConnectionString" connectionString="Data Source=172.28.3.55;Initial Catalog=NEWS_GEN;User ID=8668;Password=09112064568" providerName="System.Data.SqlClient"/>
    <add name="NewsStillsRnd.Properties.Settings.CONDUCTORConnectionString" connectionString="Data Source=172.28.3.55;Initial Catalog=CONDUCTOR;Persist Security Info=True;User ID=8668;Password=09112064568" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
